/* Extra small devices (phones, less than 768px) */
@media (max-width : 766px) {

	.project .project-block .project-plan-number:before{
	display: none;
	}

	.footer-widget{
		margin-bottom: 20px;
	}
	
	.footer-widget h3 {
  		padding-bottom: 5px;
}

}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {


}


/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {

	.project .project-block .project-plan-number:before{
	display: none;
	}

	.user-control {
  		padding-right: 10px;
	}

}



/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {

	.project .project-block .project-plan-number:before{
		content: '';
		width: 95px;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 100%;
		background-color: #fff;
	}



}


/* Large devices (large desktops, 1200px and up) */
@media (min-width : 1200px) and (max-width : 1280px) {


}

