body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #969595;
	font-weight: 400;
	overflow-x: hidden;
}


/* --------------------------------------
TYPOGRAPHY
------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	color: #313131;
	font-weight: 400;
}

h1 {
	font-size: 30px;
	line-height: 24px;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 24px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 24px;
}



/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
	color: #31aae2;
    text-decoration : none;
    -webkit-transition      : all 0.3s ease 0s;
    -moz-transition      : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition      : all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}

a:hover,
a:focus {
    text-decoration: none;
}

.gray-bg {
	background-color: #f9f9f9;
}




/*Button Style*/
.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 13px;
  border-radius: 0;
  text-transform: uppercase;
}

/*btn-primary*/
.btn-primary {
  background-color: #31aae2;
  border-color: #31aae2;
}
.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary {
  color: #31aae2;
  background-color: #fff;
  border-color: #fff;
}



/*btn-default*/
.btn-default {
  color: #313131;
  background-color: transparent;
  border-color: #313131;
}
.btn-default.active, 
.btn-default.focus, 
.btn-default:active, 
.btn-default:focus, 
.btn-default:hover, 
.open>.dropdown-toggle.btn-default {
  color: #31aae2;
  background-color: #fff;
  border-color: #fff;
}

button:focus,
.btn:focus, 
.btn:active:focus{
	outline: none;
}



/*Form Style*/
.form-control {
	height: 53px;
	padding: 6px 20px;
	font-size: 13px;
	line-height: 24px;
	color: #969595;
	border: 1px solid #F1F1F1;
	border-radius: 0;
	box-shadow: none;
}
.form-control:focus,
.form-control:active{
	box-shadow: none;
}


/*list-style*/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*heading-style*/

/*section-intro*/
.section-intro {
  margin-bottom: 50px;
}
.section-intro span{
  font-size: 12px;
  text-transform: uppercase;
}
.section-intro h2 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 25px;
  text-transform: uppercase;
  position: relative;
}
.section-intro h2:after {
  content: "";
  background: #31aae2;
  width: 50px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -25px;
}



/*Global Classes*/

.section-padding {
	padding: 100px 0;
}





/*Navigation*/
@media (min-width: 768px) {

	.navbar-default {
		background-color: transparent;
		padding: 30px 0;
		border-color: transparent;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	.sticky-nav.navbar-default {
		background-color: #f8f8f8;
		padding: 15px 0;
	}

	.navbar-right .dropdown-menu {
		right: auto;
	}
}


.navbar-default {
  margin-bottom: 0;
}

.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
	height: 40px;
}


.navbar-default .navbar-nav>li{
	margin-right: 17px;
}
.navbar-default .navbar-nav>li:last-child{
	margin-right: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	padding: 8px 17px;
	border: 2px solid transparent;
	border-radius: 2px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #142031;
	background-color: transparent;
	border: 2px solid #142031;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #142031;
	background-color: transparent;
	border: 2px solid #142031;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #142031;
}



.nav-cta {
	float: right;
	margin-right: 40px;
	margin-left: 20px;
	line-height: 40px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.nav-cta>li>a {
  display: inline-block;
  color: #000;
  width: 20px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.nav-cta .dropdown-menu {
  left: auto;
  right: 0;
}
.head-search{
  width: 370px;
}
.head-search {
  padding: 8px;
}
.head-search .form-control {
  height: 40px;
}
.head-search .btn {
  padding: 10px 20px;
}



/*Dropdown Menu*/

.dropdown-menu {
	display: inherit;
	top: 40px !important;
	padding: 0;
	font-size: 13px;
	opacity: 0;
	visibility: hidden;
	border: 1px solid #f5f5f5;
	border-radius: 0;
	box-shadow: none;
	box-shadow: 0px -2px 0px #000;
	-webkit-transition      : all 0.3s ease 0s;
	-moz-transition      : all 0.3s ease 0s;
	-o-transition      : all 0.3s ease 0s;
	transition      : all 0.3s ease 0s;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 28px !important;
	opacity: 1;
	visibility: visible;
}

.sticky-nav .dropdown:hover .dropdown-menu {
	margin-top: 13px !important;
}





.dropdown-header {
  font-size: 11px;
  line-height: 30px;
  font-weight: 600;
  color: #313131;
  text-transform: uppercase;
}

.dropdown-menu li a {
  display: block;
  font-size: 13px;
  line-height: 30px;
  color: #969595;
  padding: 3px 20px;
}
.dropdown-menu li a:hover {
  color: #31aae2;
  background-color: #f5f5f5;
  padding-left: 25px;
}


.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #000;
  background-color: transparent;
}



/*Mega Menu*/
.m-menu .nav,
.m-menu .collapse,
.m-menu .dropup,
.m-menu .dropdown {
  position: static;
}
.m-menu .container {
  position: relative;
}
.m-menu .dropdown-menu {
  left: auto;
}
.m-menu .m-menu-content {}
.m-menu .dropdown.m-menu-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}
.m-menu-content ul {
  border-right: 1px solid #f5f5f5;
  padding: 20px;
}
.m-menu-content ul:last-of-type {
  border-right: 0;
}




@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}
.navbar-toggle {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  border: 0;
  border-radius: 0;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-toggle .icon-bar {
	width: 14px;
	height: 3px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #142031;
}
.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 2px;
}




/*offcanvas-menu*/
.offcanvas-menu {}
.offcanvas-menu h1 {
  font-size: 20px;
  padding: 15px 25px;
  color: #999;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 25px;
}
.hippo-offcanvas-container > div {
  visibility: hidden;
}

#menu>li {
  margin-left: 15px;
  line-height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#menu>li:last-child {
  border-bottom: 0;
}
#menu>li ul li{
  margin-left: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#menu li a {
  display: block;
  text-decoration: none;
  color: #999999;
  padding: 0 15px;
}
#menu li a:hover,
#menu li.active a {
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.offcanvas-menu .close {
  color: #fff;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
  width: 44px;
  height: 55px;
  -webkit-transition      : all 0.3s ease 0s;
  -moz-transition      : all 0.3s ease 0s;
  -o-transition      : all 0.3s ease 0s;
  transition      : all 0.3s ease 0s;
}
.offcanvas-menu .close:hover {
  background-color: #31aae2;
}










/* ==================================
	Back-to-top start
   ================================== */
#toTop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #31aae2;
	cursor: pointer;
	display: none;
	z-index: 9999;
	width: 30px;
	height: 30px;
	border: 1px solid #31aae2;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
}
#toTop:hover {
	color: #fff;
	background-color: #31aae2;
	border: 1px solid transparent;
    -webkit-transition      : all 0.3s ease 0s;
    -moz-transition      : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition      : all 0.3s ease 0s;
}
/* ==================================
	Back-to-top end
   ================================== */


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */
#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../img/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

/*-------------------------------------------------------
        slider-section
----------------------------------------------------*/
/* slidertwo */
.tp-banner-two .tp-caption{
  color: #313131;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.tp-banner-two .large-text{
  font-size: 70px;
  font-weight: bold;
}
.tp-banner-two .link-button a{
  margin-right: 6px;
}
.tp-banner-two .link-button a:last-child{
  margin-right: 0;
}
.tp-banner-two .link-button .btn-default{
  padding: 20px 35px;
  border: 3px solid #313131;
  font-size: 20px;
  font-weight: 700;
  color: #313131;
}
.tp-banner-two .link-button .btn-default:hover{
  border: 3px solid transparent;
}
/*----------------------------------------------
feature-intro start
------------------------------------*/
.feature-intro {
  padding: 100px 0 0;
}
.feature-intro .feature-text p {
  padding: 0 16%;
}


.feature-text img {
  margin: 0 auto;
  padding-top: 50px;
}

/*feature-intro end*/

/*counter-section start*/
.counter-section {
  background: url(../../assets/img/counter.jpg) no-repeat center center;
  background-size: cover;
  padding: 100px 0 85px;
}
.counter-section .chart-one,
.counter-section .chart-two,
.counter-section .chart-three,
.counter-section .chart-four {
  position: relative;
  margin-bottom: 15px;
}

.counter-section .percent {
  position: absolute;
  top: 38%;
  left: 40%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 3px;
}

.counter-section .percent:after {
  content: '';
  font-size: 18px;
  position: absolute;
  margin-top: -5px;
}

.counter-section h2{
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
}

/*counter-section end*/


/*--------------------------
    portfolio-section start
----------------------------------------*/

  .portfolio-section {
    padding: 100px 0 70px;
  }
  .portfolio-section .portfolio-wrapper {
    margin-bottom: 30px;
}

.portfolio-section .portfolio-section-intro{
    margin-bottom: 50px;
}
.portfolio-section .portfolio-section-intro p span,
.portfolio-section .portfolio-section-intro h2 {
    text-transform: uppercase;
}
.portfolio-section .portfolio-section-intro h2 {
    font-weight: 600;
}
.portfolio-section .portfolio-thumb{
    position: relative;
    overflow: hidden;
}
.portfolio-section .portfolio-thumb::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -80%;
    bottom: -80%;
    cursor:pointer;
    background: rgba(49, 170, 226, 0.8);
    opacity: 0;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio-section .portfolio-wrapper:hover .portfolio-thumb::before{
    left: 0;
    bottom: 0;
    opacity: 1;
}
.portfolio-section .portfolio-thumb img{
    width: 100%;
}
.portfolio-section .portfolio-info {
    position: absolute;
    height: 100%;
    right: -100%;
    top: -25%;
    color: #ffffff;
    opacity: 0; 
}
.portfolio-section .portfolio-wrapper:hover .portfolio-info{
    text-align: center;
    right: 0;
    left: 0;
    top: 50%;
    margin-top: -25px;
    opacity: 1;

}
.portfolio-section .portfolio-info h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #ffffff;
}
.portfolio-section .portfolio-info .small{
    font-size: 12px;
    color: #ffffff;
}
.portfolio-section .portfolio-info .small:hover{
    color: #313131;
}
.portfolio-section .portfolio-thumb .img-link {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.portfolio-section .portfolio-wrapper:hover .img-link{
    opacity: 1;

    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
}
.portfolio-section .portfolio-thumb .img-link i{
    font-size: 11px;
    color: #ffffff;
    background: #313131;
    width: 32px;
    height: 32px;
    line-height: 36px;
    text-align: center;
}
.portfolio-section .portfolio-thumb .img-link i:hover{
    color: #313131;
    background: #ffffff;
}
.portfolio-section .portfolio-thumb .img-link,
.portfolio-section .portfolio-info,
.portfolio-section .portfolio-thumb .img-link i{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
@media (max-width : 769px) {
    .portfolio-section .portfolio-info h3 {
        font-size: 13px;
    }
    .portfolio-section .portfolio-info .small {
        font-size: 10px;
    }
}


/*--------------------------
    portfolio-section end
----------------------------------------*/

.cta-section{
    padding: 50px 0px 35px;
    background: #efda72;
}
.cta-section h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
}
.cta-section .btn-primary {
    border: 2px solid #313131;
    background: transparent;
    padding: 12px 32px;
    font-size: 13px;
    text-transform: uppercase;
    color: #313131;
    font-weight: 700;
}
.cta-section .btn-primary:hover,
.cta-section .btn-primary:focus{
    background: #313131;
    border: 2px solid #313131;
    color: #fff;
}
@media(max-width: 767px){
   .cta-section .btn {
    float: none !important;
   } 
}


/*----------------------------------------------
      video-section start
---------------------------------------------------*/
.video-section{
    
}

.video-section .video-post{
    position: relative;
}
.video-section .video-post img{
  width: 100%;
 
}

.video-section .play-trigger {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 69px;
    height: 69px;
    margin-left: -30px;
    margin-top: -30px;
    border: 0;
    color: #fff;
    background: #cb7281;
    font-size: 16px;
    line-height: 69px;
    text-align: center;
    -webkit-transition      : all 0.3s ease 0s;
    -moz-transition      : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition      : all 0.3s ease 0s;
}

.video-section .play-trigger:hover {
    background: #31aae2;
}
.video-section .blog-post-wrapper .play-trigger i {
    margin-left: 5px;
}


.video-text {
  position: absolute;
  left: 27%;
  top: 64%;
  text-align: center;
}

@media(min-width: 768px) and (max-width: 900px){
  
}

@media(min-width: 901px) and (max-width: 1024px){
  .video-text {
    left: 20%;
  }
}
.video-text h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.video-text p{
  color: #fff;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: capitalize; 
}

/*----------------------------------------------
      video-section end
---------------------------------------------------*/


/* --------------------------------------------------
service-section
------------------------------------------------- */

.service-section {
  padding: 95px 0 5px;
}
/*promo-block*/
.service-section .promo-block-wrapper {
  margin-bottom: 80px;
}
.service-section .promo-content i {
  float: left;
  margin-right: 30px;
  font-size: 16px;
  color: #dadada;
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.service-section .promo-block-wrapper:hover .promo-content i{
  color: #fff;
  background-color: #31aae2;
}
.service-section .promo-content h3{
  font-size: 15px;
  line-height: 50px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* --------------------------------------------------
service-section end
------------------------------------------------- */


/*--------------------------------------------------
testimonial-section start
--------------------------------------*/
.testimonial-section {
  background: url(../../assets/img/testimonial/testimonial-bg.jpg) no-repeat center center #574F4D;
  background-size: cover;
  padding: 190px 0;
}

.testimonialSlider {
  
  color: #fff;
  position: relative;
}
.testimonialSlider .client-thumb {
  margin-bottom: 45px;
}
.testimonialSlider .client-thumb img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.testimonialSlider blockquote {
  padding: 0;
  margin: 0 0 45px;
  font-size: 20px;
  line-height: 34px;
  border-left: 0;
}
.testimonialSlider blockquote h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 60px;
}
@media(max-width: 350px){
  .testimonialSlider blockquote {
    font-size: 15px;
    line-height: 25px;
  }
  .testimonialSlider blockquote h1 {
    font-size: 25px;
  }
}

.testimonialSlider blockquote footer {
  margin-top: 30px;
}

.testimonialSlider blockquote .small:before, 
.testimonialSlider blockquote footer:before, 
.testimonialSlider blockquote small:before {
  content: '';
}

.testimonialSlider .client-name {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.testimonialSlider .client-title {
  display: block;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.testimonialSlider .flex-control-thumbs img {
  
}
.testimonialSlider .flex-control-nav {
  text-align: left;
}
.testimonialSlider .flex-control-thumbs li {
  width: 13%;
  display: inline-block;
  margin: 0 20px;
}

.testimonialSlider .flex-control-thumbs img {
  opacity: 0.5;
  width: 95px;
}
.testimonialSlider .flex-control-thumbs .flex-active {
  opacity: 1;
}

/*---   testimonial-section end   --- */

/*--------------------------------------------
skill-section start
---------------------------------------------------*/

.skill-section {
  padding: 100px 0 80px;
}
.skill-section .progress-item {
  position: relative;
}

.skill-section .progress-title {
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 5px;
  padding-bottom: 8px;
}
.skill-section .progress {
  height: 11px;
  box-shadow: none;
  border-radius: 0px;
}
.skill-section .progress-bar {
  background-color: #31aae2;
  box-shadow: none;
  text-align: right;
}
.skill-section .progress-percent {
  font-size: 10px;
  background-color: #313131;
  position: absolute;  
  top: 5px;
  padding: 0 8px;
  border-radius: 3px;
}
.skill-section .progress-percent::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  border-top: 6px solid #313131;
  border-right: 8px solid transparent;
}
/*skill-section end*/



/*-------------------------------------------------
      pricing-section start
-----------------------------------------------------*/
.pricing-section {
  background: url(../../assets/img/counter.jpg) no-repeat center center #574F4D;
  background-size: cover;
}
.pricing-section .section-intro span, 
.pricing-section .section-intro h2 {
  color: #fff;
}

.pricing-section .section-intro h2:after {
  background: #fff;
}

.pricing-section .pricing-table-default {
  border: 1px solid #fff;
  margin-top: 30px;
  

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.pricing-section .pricing-table-default:hover{
  border:1px solid #31aae2;
  background: #fff;
}
@media (max-width : 766px) {
  .pricing-section .pricing-table-default {
    margin-bottom: 30px;
  }
}
.pricing-section .pricing-head{
  border-bottom: 1px solid #fff;
  padding: 25px 0 20px;
}
.pricing-section .pricing-head h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.pricing-section .pricing-head .price {
  display: block;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
}
.pricing-section .pricing-head .month{
  font-weight: 400;
}
/*pricing list*/

.pricing-section .pricing-list li {
  display: block;
  padding: 8px 0;
  color: #fff;
}

.pricing-section .pricing-list li:first-child {
  padding-top: 25px;
}
.pricing-section .pricing-list li:last-child {
  padding: 12px 0 0;
}

.pricing-section .pricing-table-default .btn {
  color: #ffffff;
  border:0;
  text-transform: capitalize;
  display: block;
  padding: 13px 0;
  margin: 31px 45px 31px 45px;
  background: #dadada;
}

.pricing-section .pricing-table-default:hover .pricing-head h3 {
  color: #313131;
}
.pricing-section .pricing-table-default:hover .pricing-head .price {
  color: #31aae2;
}

.pricing-section .pricing-table-default:hover .pricing-list li {
  color: #969595;
}

.pricing-section .pricing-table-default .btn-default {
  background: #fff;
  color: #31aae2;
}

.pricing-section .pricing-table-default:hover .btn-default{
  background: #31aae2;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*pricing-section end*/


/* ------------------------------------
  client-section start
----------------------------------------------  */

.client-section {}
.client-section li {
  padding: 0;
}
@media(min-width: 992px){
  .client-section li:nth-child(n+5) a{
    border-bottom: 0;
  }
}
@media(min-width: 768px) and (max-width: 991px){
  .client-section li:nth-child(n+7) a{
    border-bottom: 0;
  }
}


.client-section a {
  display: block;
  background: #fff;
  text-align: center;
  padding: 43px 0px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1
}

.client-section .row  a:hover {
  background: #f9f9f9;
}
.client-section a img {
  height: 102px;
  opacity: 0.4;
  -webkit-transition      : all 0.8s ease 0s;
    -moz-transition      : all 0.8s ease 0s;
    -o-transition      : all 0.8s ease 0s;
    transition      : all 0.8s ease 0s;
}
.client-section li:hover {
  background: #000;
}
.client-section li:hover img {
  opacity: 1;

}

/*   client-section end */



/*----------------------------------------------
get-in-touch start
-------------------------------*/
.get-in-touch {
  background: url(../../assets/img/touch-bg.jpg) no-repeat center center fixed #000;
  background-size: cover;
}
.get-in-touch .overlay-bg {
  padding: 175px 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.get-in-touch .section-intro {
  margin-bottom: 45px;
}
.get-in-touch .section-intro h2,
.get-in-touch .section-intro p{
  color: #fff;
}

@media (min-width : 1200px) {
  .get-in-touch .list-inline>li {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width : 992px) and (max-width : 1199px) {
  .get-in-touch .list-inline>li {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.get-in-touch ul li a {
  display: block;
  font-size: 40px;
  color: #fff;
  width: 118px;
  height: 118px;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 118px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@media (min-width : 768px) and (max-width : 991px) {
  .get-in-touch ul li a {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

@media (max-width : 767px) {
  .get-in-touch ul li a {
    margin-bottom: 10px;
  }
}

.get-in-touch ul li a.facebook:hover {
  background-color: #3b5998;
}
.get-in-touch ul li a.twitter:hover {
  background-color: #55acee;
}
.get-in-touch ul li a.dribbble:hover {
  background-color: #ea4c89;
}
.get-in-touch ul li a.pinterest:hover {
  background-color: #cc2127;
}
.get-in-touch ul li a.instagram:hover {
  background-color: #3f729b;
}
.get-in-touch ul li a.google:hover {
  background-color: #db4437;
}



/**********************
 contact-form section start
*************************/
.contact-form {
  overflow: hidden;
}
.contact-form .form-group {
  margin-bottom: 10px;
}
.contact-form .form-control {
  background-color: #313131;
  border: 1px solid #313131;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   text-align: center;
}
.contact-form .form-control:focus {
  background-color: transparent;
  border: 1px solid #313131 !important; 
}

.contact-form form button.btn{
  margin: 0 auto;
  display: block;
    padding: 15px 32px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.contact-form .btn-primary {
  background-color: #31aae2;
  border: 1px solid #31aae2;
}

.contact-form .btn-primary.focus,
.contact-form .btn-primary:hover{
  background-color: transparent;
    color: #31aae2;
    border: 1px solid #31aae2 !important;
}
/* contact-form section end */



/* --------------------------------------------
footer-section start
----------------------------------------------- */
.footer-section {}
.footer-section .footer-widget-section {
  background-color: #313131;
  padding: 40px 0 0;
}
.footer-section .footer-widget-section .footer-logo{
  margin-bottom: 40px;
}
.footer-section .copyright-section {
  border-top: 1px solid #4a4a4a;
  padding: 20px 0 20px;
}
.footer-section .copyright-section .copytext{
  font-weight: 600;
  text-transform: uppercase;
}

/*social-links*/
.footer-section .social-links li a {
  font-size: 16px;
  display: block;
  color: #4a4a4a;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  transform: translateZ(0);
}
.footer-section .social-links li a:hover {
  color: #31aae2;
}
